body {
  margin: 0px;
  width: 100%;
  text-align: center;
  background-color: #BFBFBF;
  font-size: 14pt;
  font-family: "Merriwether", "Times New Roman", serif;
  font-weight: 400;
}
h1 {
  font-size: 34px;
  font-family:"Barlow", "Arial", sans-serif;
  font-weight: 700;
  display: inline-block;
  background: white;
  width: 100%;
}
h2 {
  font-size: 26px;
  color: white;
}
h1, h2 {
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}
p {
  font-size: 14pt;
  margin: auto;
  font-family: "Barlow", serif;
  color: white;
  text-decoration: none;
}
img {
  border: 0;
  width: 25%;
  min-width: 150px;
  max-width: 250px;
  max-height: 150px;
  height:50%;
}
nav a {
  font-family: "Barlow", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16pt;
  color: white;
  text-decoration: none;
  border: black;
  border-width: thin;
}
.menu {
  margin:auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
}
section {
  background: #0f5c5c;
  color: #BFBFBF;
  display: block;
  width: 100%
}
a {
  text-decoration: none;
  color: white;
}
li {
  border: 2px solid black;
  padding: 20px 20px;
  background-color: #0f5c5c;
  display: block;
}
@media screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
  }
}
