body {
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: #BFBFBF;
  font-size: 14pt;
  font-family: "Merriwether", "Times New Roman", serif;
  font-weight: 400;
}
h1 {
  font-size: 34px;
  font-family:"Barlow", "Arial", sans-serif;
  font-weight: 700;
  display: inline-block;
  background: white;
  width: 100%;
}
h2 {
  font-size: 24px;
}
h1, h2 {
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}
p {
  font-size: 14pt;
  margin: 8px auto;
  font-family: "Barlow", serif;
  color: #000000;
  text-decoration: none;
}
nav a {
  background-color: #01C198;
  font-family: "Barlow", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16pt;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}
img {
  border: 0;
  width: 25%;
  min-width: 150 px;
  max-width: 250 px;
  max-height: 150 px;
  height:50%;
}
ul {
  list-style-type: none;
}
section {
  background: #01C198;
  color: #BFBFBF;
  display: block;
  width: 100%
}
a {
  text-decoration: none;
  color: white;
}
a: visited {

}
